
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1 class="text-center mt-3">Uygulama Hakkında</h1>
<hr />

<div class="list-group">
    <p class="list-group-item list-group-item-action text-center bg-secondary text-white" aria-current="true">
        Uygulamada Kullanılan Teknolojiler
    </p>
    <p class="list-group-item list-group-item-action">ASP.NET Core 5 MVC => Web Uygulaması için</p>
    <p class="list-group-item list-group-item-action">.NET CORE => Kredi Kartı Servisi için</p>
    <p class="list-group-item list-group-item-action">Microsoft SQL Server 2019 => Uygulama veritabanı için</p>
    <p class="list-group-item list-group-item-action disabled">MongoDb => Kredi Kartı Servisi veritabanı için</p>
</div>