
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!-- Top header -->
<header class="navbar-toggler p-4">
    <p class="w3-left text-dark font-weight-bolder" style="font-size:20px">Uygulama Hakkında</p>
    <p class="w3-right text-dark font-weight-normal" style="font-size:20px">
        <i class="icon-calendar mr-2"></i>@DateTime.Now.ToLongDateString()
    </p>
</header>
<hr />

<div class="list-group">
    <p class="list-group-item list-group-item-action text-center bg-secondary text-white" aria-current="true">
        Uygulamada Kullanılan Teknolojiler
    </p>
    <p class="list-group-item list-group-item-action">ASP.NET Core 5 MVC => Web Uygulaması için</p>
    <p class="list-group-item list-group-item-action">.NET CORE => Kredi Kartı Servisi için</p>
    <p class="list-group-item list-group-item-action">Microsoft SQL Server 2019 => Uygulama veritabanı için</p>
</div>