
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FirstPageLayout.cshtml";
}

<div class="card-deck text-center carousel-indicators sticky-top">
    <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-info">Yönetici</div>
        <div class="card-body">
            <h5 class="card-title">Yönetici Olmak</h5>
            <hr />
            <p class="card-text">Yönetici olarak; daire sahiplerinin ve kiracıların faturalarını ve aidatlarını kolayca atayabilir, daire ve kullanıcı işlemlerini kolayca yapabilirsiniz.</p>
        </div>
        <div class="card-footer bg-transparent border-info"><a href="/Admin/YoneticiGiris/GirisYap" class="btn btn-outline-info">Yönetici Girişi<i class="ml-2 icon-sign-in"></i></a></div>
    </div>
    <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-info">Kullanıcı</div>
        <div class="card-body">
            <h5 class="card-title">Kullanıcı Olmak</h5>
            <hr />
            <p class="card-text">Kullanıcı olarak; faturalarınız ve aidatlarınızı kolayca kontrol edip, kredi kartı ile kolayca ödemesini gerçekleştirebilirsiniz.</p>
        </div>
        <div class="card-footer bg-transparent border-info"><a href="/KullanıcıGiris/GirisYap" class="btn btn-outline-info">Kullanıcı Girişi<i class="ml-2 icon-sign-in"></i></a></div>
    </div>
</div>

