
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<header class="w3-container w3-xlarge w3-padding">
    <p class="w3-center">Ana Sayfa</p>
</header>
<hr />

<h1 class="text-center">Yeni nesil Fatura Yönetim Sistemine hoş geldiniz.</h1>
<hr />
<p class="text-center">Bu uygulamada aktif olarak, Elektrik, Doğalgaz ve Su faturalı ile birlikte; aylık olarak aidat takibiniz gerçekleştirip, bu aidat ve faturalarınızın ödemelerini basit bir şekilde kredi kartı sistemimziden gerçekleştirebilirsiniz.</p>
