@using EntityLayer.Concrete
@model Mesaj
@{
    ViewData["Title"] = "AddMesaj";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<header class="w3-container w3-xlarge w3-padding">
    <p class="w3-center">Mesaj Gönder</p>
</header>
<hr />

